/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Background */
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #3f51b5, #2c4f8a);
}

/* Login Card */
section {
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    text-align: center;
    color: white;
}

/* Title */
h1 {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: bold;
}

/* Inputs */
input {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    font-size: 14px;
}

/* Placeholder Color */
input::placeholder {
    color: #dddddd;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    border-radius: 30px;
    border: none;
    background: white;
    color: #2c4f8a;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

/* Button Hover */
button:hover {
    background: #e0e0e0;
}

/* Small Text Links */
p {
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: cyan;
    text-decoration: none;
    font-weight: bold;
}