*{
    margin: 0;
    padding: 0;

}
img{
    width: 20%;
    height: 20%;
}
.pc{
    display: flex;
    justify-content: space-between;

}
header{
    font-size: 400%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#333;
    padding-top: 3%;
    margin: 2%;
    color: blue;

}
section{
    width: 40%;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    border-radius: 10px;
    box-shadow: 3px 4px 2px 4px;
    background-color: #ffffffba;
}
section input{
    outline: none;
    height: 40px;
    width: 70%;
    border-radius: 5px;
    border: 0.1px solid black;
    margin: 40px auto;
    background: transparent;
    font-weight: 500;
    font-size: 20px;
    justify-content: center;
}
button{
    border-radius: 8px;
    width: 50%;
    height: 40px;
    margin: 20px auto;
    justify-content: center;
    background-color: blue;
    color: white;
    border: none;
}
section p a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
